ipython>=8.10
jupyterlab>=3.0
notebook
kedro~=1.4.0
kedro-datasets[pandas]
kedro-viz
yfinance
matplotlib
seaborn
pandas
dvc[s3]
scikit-learn
xgboost
shap
lightgbm
catboost
mlflow
kedro-mlflow
boto3
pydantic
fastapi
uvicorn
psycopg[binary]
python-dotenv
streamlit
plotly
requests
plotly
streamlit